*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
    body {
        font-family: Verdana, sans-serif; 
        margin:0px;
        
    }
    .mySlides {
    display: none
    }
    img {
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    
    }

    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
      
    }
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
  .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    

    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }
    .dotdiv{
        position: relative;
        bottom: 75px;
    }
    .trip{
       border: 1px solid black;
       width: 400px;
       height: 250px;
       position: relative;
       left: 500px;
       bottom: 230px;
       /* background-color: rgba(128, 0, 128, 0.342); */
       color: white;
       border-radius: 10px;
    }
    .btn1{
    background-color: white;
    width: 130px;
    height: 70px;
    border-radius: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    left: 100px;
    top: 20px;
    font-size: 18px;
    opacity: 0.5;
    border: 2px solid black;
  
    }
    a{
      text-decoration: none;
      color: black;

    }
    .background{
      background: url('img8.avif');
      z-index: 1;
      background-repeat: no-repeat;
      background-size: 1200px 328px;
      position: relative;
      bottom: 37px;
      border-radius: 10px;
    }  
    .trip1{
      border: 1px solid black;
      width: 400px;
      height: 250px;
      position: relative;
      left: 90px;
      bottom: 200px;
      color: white;
      border-radius: 10px;
  
   }
   .btn{
   background-color: white;
   width: 130px;
   height: 70px;
   border-radius: 50px;
   justify-content: center;
   display: flex;
   align-items: center;
   position: relative;
   left: 100px;
   top: 20px;
   font-size: 18px;
   opacity: 0.5;
 
   }
   a{
     text-decoration: none;
     color: black;
   }
   .h1{
    position: relative;
    bottom: 210px;
    background-color: black;
    z-index: 2;
   }
  .background1{
    background: url('img10.avif');
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100% 330px;
    position: relative;
    bottom: 160px; 
        border-radius:10px;
    
  }
  .trip2{
    border: 1px solid black;
    width: 400px;
    height: 250px;
    position: relative;
    left: 90px;
    bottom: 200px;
    color: white;
    border-radius: 10px;

 }
 .btn{
 background-color: white;
 width: 130px;
 height: 70px;
 border-radius: 50px;
 justify-content: center;
 display: flex;
 align-items: center;
 position: relative;
 left: 100px;
 top: 20px;
 font-size: 18px;
 opacity: 0.5;

 }
 a{
   text-decoration: none;
   color: black;
 }
 hr{
  position: relative;
  bottom: 300px;
  left: 10px;

  background-color: 5px solid#717171;
 }
.background2{
  background: url('img15.webp');
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100% 330px;
  position: relative;
  bottom: 270px; 
      border-radius:10px;
  
}

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: purple;
    display: block;
    transition: 0.;
  }
  
  .sidenav a:hover {
    color: purple;
    

  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
.open{
    background-color: white;
    width: 40px;
    border-radius: 100px;
    
     position: relative;
     bottom: 320px;
     left: 30px;
     
}
.button{
  position: relative;
  left: 220px;
  bottom: 70px;
  
}
.searchnavnav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.topsearchnav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 35px;
  color: purple;
  display: block;
  transition: 0.;
}

.topsearchnav a:hover {
  color: #78006e;
  

}

.topsearchnav{
  position: absolute;
  top: 50px;
  right: 155px;
  font-size: 36px;
  margin-left: 50px;
}
.open1{
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 850px;
  bottom: 550px;
  border-radius: 100px;
  transition: 0.5s;
   
}
.btn{
position: relative;
left: 220px;
bottom: 70px;

}
.a{
  width: 595px;
  height: 350px;
  background-color: #78006e;
  position: relative;
  bottom: 250px;
  
}
.b{
  width: 160px;
  height: 350px;
  background-color: #78006e;
  position: relative;
  bottom: 1000px;
  left: 855px;
  
}
.c{
  width: 100%;
  height: 200px;
  background-color: #78006e;
  position: relative;
  bottom: 200px;
}
.d{
    width: 1000px;
    height: 350px;
    background-color: #78006e;
    position: relative;
  }
  .imgdiv{
    width: 208px;
    height: 230px;
    position: relative;
    left: 10px;
    bottom: 750px;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .imgdiv:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
    body {
        font-family: Verdana, sans-serif; 
        margin:0px;
        
    }
    .mySlides {
    display: none
    }
    img {
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    
    }

    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
      
    }
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
  .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    

    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }
    .dotdiv{
        position: relative;
        bottom: 75px;
    }
    .trip{
       border: 1px solid black;
       width: 400px;
       height: 250px;
       position: relative;
       left: 500px;
       bottom: 230px;
       /* background-color: rgba(128, 0, 128, 0.342); */
       color: white;
       border-radius: 10px;
    }
    .btn1{
    background-color: white;
    width: 130px;
    height: 70px;
    border-radius: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    left: 100px;
    top: 20px;
    font-size: 18px;
    opacity: 0.5;
    border: 2px solid black;
  
    }
    a{
      text-decoration: none;
      color: black;

    }
    .background{
      background: url('img8.avif');
      z-index: 1;
      background-repeat: no-repeat;
      background-size: 1200px 328px;
      position: relative;
      bottom: 37px;
      border-radius: 10px;
    }  
    .trip1{
      border: 1px solid black;
      width: 400px;
      height: 250px;
      position: relative;
      left: 90px;
      bottom: 200px;
      color: white;
      border-radius: 10px;
  
   }
   .btn{
   background-color: white;
   width: 130px;
   height: 70px;
   border-radius: 50px;
   justify-content: center;
   display: flex;
   align-items: center;
   position: relative;
   left: 100px;
   top: 20px;
   font-size: 18px;
   opacity: 0.5;
 
   }
   a{
     text-decoration: none;
     color: black;
   }
   .h1{
    position: relative;
    bottom: 210px;
    background-color: black;
    z-index: 2;
   }
  .background1{
    background: url('img10.avif');
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100% 330px;
    position: relative;
    bottom: 160px; 
        border-radius:10px;
    
  }
  .trip2{
    border: 1px solid black;
    width: 400px;
    height: 250px;
    position: relative;
    left: 90px;
    bottom: 200px;
    color: white;
    border-radius: 10px;

 }
 .btn{
 background-color: white;
 width: 130px;
 height: 70px;
 border-radius: 50px;
 justify-content: center;
 display: flex;
 align-items: center;
 position: relative;
 left: 100px;
 top: 20px;
 font-size: 18px;
 opacity: 0.5;

 }
 a{
   text-decoration: none;
   color: black;
 }
 hr{
  position: relative;
  bottom: 300px;
  left: 10px;

  background-color: 5px solid#717171;
 }
.background2{
  background: url('img15.webp');
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100% 330px;
  position: relative;
  bottom: 270px; 
      border-radius:10px;
  
}

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: purple;
    display: block;
    transition: 0.;
  }
  
  .sidenav a:hover {
    color: purple;
    

  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
.open{
    background-color: white;
    width: 40px;
    border-radius: 100px;
    
     position: relative;
     bottom: 320px;
     left: 30px;
     
}
.button{
  position: relative;
  left: 220px;
  bottom: 70px;
  
}
.searchnavnav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.topsearchnav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 35px;
  color: purple;
  display: block;
  transition: 0.;
}

.topsearchnav a:hover {
  color: #78006e;
  

}

.topsearchnav{
  position: absolute;
  top: 50px;
  right: 155px;
  font-size: 36px;
  margin-left: 50px;
}
.open1{
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 850px;
  bottom: 550px;
  border-radius: 100px;
  transition: 0.5s;
   
}
.btn{
position: relative;
left: 220px;
bottom: 70px;

}
.a{
  width: 595px;
  height: 350px;
  background-color: #78006e;
  position: relative;
  bottom: 250px;
  
}
.b{
  width: 160px;
  height: 350px;
  background-color: #78006e;
  position: relative;
  bottom: 1000px;
  left: 855px;
  
}
.c{
  width: 100%;
  height: 200px;
  background-color: #78006e;
  position: relative;
  bottom: 200px;
}
.d{
    width: 1000px;
    height: 350px;
    background-color: #78006e;
    position: relative;
  }
  .imgdiv{
    width: 208px;
    height: 230px;
    position: relative;
    left: 10px;
    bottom: 750px;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .imgdiv:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
    body {
        font-family: Verdana, sans-serif; 
        margin:0px;
        
    }
    .mySlides {
    display: none
    }
    img {
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    
    }

    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
      
    }
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
  .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    

    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }
    .dotdiv{
        position: relative;
        bottom: 75px;
    }
    .trip{
       border: 1px solid black;
       width: 400px;
       height: 250px;
       position: relative;
       left: 500px;
       bottom: 230px;
       /* background-color: rgba(128, 0, 128, 0.342); */
       color: white;
       border-radius: 10px;
    }
    .btn1{
    background-color: white;
    width: 130px;
    height: 70px;
    border-radius: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    left: 100px;
    top: 20px;
    font-size: 18px;
    opacity: 0.5;
    border: 2px solid black;
  
    }
    a{
      text-decoration: none;
      color: black;

    }
    .background{
      background: url('img8.avif');
      z-index: 1;
      background-repeat: no-repeat;
      background-size: 1200px 328px;
      position: relative;
      bottom: 37px;
      border-radius: 10px;
    }  
    .trip1{
      border: 1px solid black;
      width: 400px;
      height: 250px;
      position: relative;
      left: 90px;
      bottom: 200px;
      color: white;
      border-radius: 10px;
  
   }
   .btn{
   background-color: white;
   width: 130px;
   height: 70px;
   border-radius: 50px;
   justify-content: center;
   display: flex;
   align-items: center;
   position: relative;
   left: 100px;
   top: 20px;
   font-size: 18px;
   opacity: 0.5;
 
   }
   a{
     text-decoration: none;
     color: black;
   }
   .h1{
    position: relative;
    bottom: 210px;
    background-color: black;
    z-index: 2;
   }
  .background1{
    background: url('img10.avif');
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100% 330px;
    position: relative;
    bottom: 160px; 
        border-radius:10px;
    
  }
  .trip2{
    border: 1px solid black;
    width: 400px;
    height: 250px;
    position: relative;
    left: 90px;
    bottom: 200px;
    color: white;
    border-radius: 10px;

 }
 .btn{
 background-color: white;
 width: 130px;
 height: 70px;
 border-radius: 50px;
 justify-content: center;
 display: flex;
 align-items: center;
 position: relative;
 left: 100px;
 top: 20px;
 font-size: 18px;
 opacity: 0.5;

 }
 a{
   text-decoration: none;
   color: black;
 }
 hr{
  position: relative;
  bottom: 300px;
  left: 10px;

  background-color: 5px solid#717171;
 }
.background2{
  background: url('img15.webp');
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100% 330px;
  position: relative;
  bottom: 270px; 
      border-radius:10px;
  
}

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: purple;
    display: block;
    transition: 0.;
  }
  
  .sidenav a:hover {
    color: purple;
    

  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
.open{
    background-color: white;
    width: 40px;
    border-radius: 100px;
    
     position: relative;
     bottom: 320px;
     left: 30px;
     
}
.button{
  position: relative;
  left: 220px;
  bottom: 70px;
  
}
.searchnavnav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.topsearchnav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 35px;
  color: purple;
  display: block;
  transition: 0.;
}

.topsearchnav a:hover {
  color: #78006e;
  

}

.topsearchnav{
  position: absolute;
  top: 50px;
  right: 155px;
  font-size: 36px;
  margin-left: 50px;
}
.open1{
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 850px;
  bottom: 550px;
  border-radius: 100px;
  transition: 0.5s;
   
}
.btn{
position: relative;
left: 220px;
bottom: 70px;

}
.a{
  width: 595px;
  height: 350px;
  background-color: #78006e;
  position: relative;
  bottom: 250px;
  
}
.b{
  width: 160px;
  height: 350px;
  background-color: #78006e;
  position: relative;
  bottom: 1000px;
  left: 855px;
  
}
.c{
  width: 850px;
    height: 160px;
    position: relative;
    left: 60px;
    bottom: 649px;
    border-radius: 10px;
    margin-left: 30px;
    background-color: #78006e;
  /* transition: box-shadow .5s; */
    transition: box-shadow 0.3s ease-in-out 0s;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  }
  .c:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

.d{
    width: 1000px;
    height: 500px;
    background-color: #78006e;
    display: flex;
    justify-content: center;
    color: white;


  
  }
  .imgdiv{
    width: 208px;
    height: 230px;
    position: relative;
    left: 10px;
    bottom: 750px;
    border-radius: 10px;
    margin-left: 30px;
    transition: width .5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  /* .imgdiv:hover{
    width: 210px;
    
  }*/
  .imgdiv:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

